<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Login Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <img src="assets\icon\favicon.png" alt="">
        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">IONIC Tutorial</font>
          </font>
        </h2>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Welcome to Bizkit Production.
              <br />Please enter your email to reset password.</font>
          </font>
        </p>
      </div>


      <form [formGroup]="ResetPass" (ngSubmit)="ResetPWD(ResetPass)">
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
          <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-username"
              for="LAY-user-login-username"></label>
            <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="Email"
              class="layui-input" autocomplete="true" formControlName="username" />
            <div class="validation-errors" *ngIf="(ResetPass.controls['username'].touched || 
            ResetPass.controls['username'].dirty) && !ResetPass.controls['username'].valid">
              <div class="error-message" *ngIf="ResetPass.controls['username'].errors?.required">
                Please enter email address.
              </div>
              <div class="error-message" *ngIf="ResetPass.controls['username'].errors?.pattern">
                Please enter valid email address.
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <ion-button class="submit-btn" expand="full" shape="round" [disabled]="ResetPass.controls['username'].errors" type="submit">
              Reset Password
              <ion-icon slot="end" ios="ios-arrow-dropright" md="md-arrow-dropright" style="padding-left: 15px">
              </ion-icon>
            </ion-button>
          </div>
          <div class="layui-trans layui-form-item layadmin-user-login-other">
            <div class="layadmin-user-jump-change layadmin-link">
              <font style="vertical-align: inherit;" style="font-size: 18px"> No account?
                <a style="vertical-align: inherit;" style="font-size: 18px" [routerLink]="['/register']"
                  routerLinkActive="router-link-active">Create one!</a>
              </font>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-app>