<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <i class="layui-icon layui-icon-home" style="font-size: 30px;" color="primary"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qoutation">
      <i class="layui-icon layui-icon-note" style="font-size: 30px;" color="primary"></i>
      <ion-label>Qoutation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoice">
      <i class="layui-icon layui-icon-template-1" style="font-size: 30px;" color="primary"></i>
      <ion-label>Invoice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <i class="layui-icon layui-icon-notice" style="font-size: 30px;" color="primary"></i>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <i class="layui-icon layui-icon-user" style="font-size: 30px;" color="primary"></i>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>